@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  @apply font-sans bg-secondary;
}

.link {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  &:hover {
    @apply text-primary;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn {
  border-radius: 0.7em;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  @apply bg-primary hover:bg-primary-10 flex items-center justify-center;
  transition: background-color 0.25s;
  &.btn-outlined {
    @apply bg-transparent hover:bg-none border-primary text-primary hover:bg-primary-100;
  }
}

.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.btn:disabled {
  @apply bg-gray-300 opacity-70;
}

.page-layout {
  @apply max-w-4xl mx-auto flex flex-col h-screen gap-6;
  width: 90%;
}
